---
yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'
  - 'docker-compose.yml'

# ignore:
#   -

rules:
  anchors: enable
  braces: enable
  brackets: enable
  colons: enable
  commas: enable
  comments:
    level: warning
    require-starting-space: true
    ignore-shebangs: true
    min-spaces-from-content: 1
  comments-indentation:
    level: warning
  document-end: disable
  document-start:
    level: warning
  empty-lines: enable
  empty-values: enable
  float-values: enable
  hyphens: enable
  indentation: enable
  key-duplicates: enable
  key-ordering: disable
  line-length:
    max: 250
    level: warning
    allow-non-breakable-inline-mappings: true
    allow-non-breakable-words: true
  new-line-at-end-of-file: enable
  new-lines: enable
  octal-values: enable
  quoted-strings: disable
  trailing-spaces: enable
  truthy:
    level: warning
    # Allow 'on' for compatibility with GitHub Actions
    allowed-values: ['true', 'false', 'on']
    check-keys: true
