### General ###
[general]
status_path = "/vdirsyncer/status/"

### Pairs ###
[pair google_local]
a = "google"
b = "local"
collections = ["from a", "from b"]
conflict_resolution = "b wins"

[pair baikal_apple]
a = "apple"
b = "baikal"
#collections = ["card", "from b"]
collections = [["all", "card", "default"]]
conflict_resolution = "b wins"
#collections = null
#metadata = ["color", "displayname"]

[pair nextcloud_baikal2]
a = "nextcloud"
b = "baikal2"
#collections = ["from a", "from b"]
collections = [["all", "sync", "default"]]
conflict_resolution = "b wins"
#collections = null


### Storages ###
[storage apple]
type = "carddav"
# We can simplify this URL here as well. In theory it shouldn't matter.
url = "https://contacts.icloud.com/"
username = "your_login"
password = "your_password"

[storage baikal]
type = "carddav"
url = "baikal_url"
username = "your_login"
password = "your_password"

[storage baikal2]
type = "carddav"
url = "baikal_url"
username = "your_login"
password = "your_password"
read_only = true

[storage google]
type = "google_contacts"
token_file = "/vdirsyncer/google"
client_id = "your_client_id"
client_secret = "your_secret"

[storage local]
type = "filesystem"
path = "/vdirsyncer/contacts/"
fileext = ".vcf"

[storage nextcloud]
type = "carddav"
url = "nextcloud_url"
username = "your_login"
password = "your_password"